body {
    margin: 0;
    background-color: black;
}

#slot {   
    margin-top: 50px;
    position: relative;
    height: 1072px;
}

#pixiview {
    display: inline-block;
    margin-top: 678px;
    margin-left: 219px;
}

#segments {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    top: 294px;
}

#creditSegment {
    position: absolute;
    left: 119px;
    top: 613px;
    width: 53px;
}

#paySegment {
    position: absolute;
    left: 150px;
    top: 613px;
    width: 53px;
}

#effectSegment {
    position: absolute;
    transform: translateX(75px);
    left: -19px;
    top: 471px;
}


#GameData {
    position: absolute;
    background-color: black;
    color: white;
    left:0;
    top: 0;
    width: 150px;
    font-size: 10pt;
    z-index: 8;
}

#nabiArea {    
    display: flex;
    width: 110px;
    position: absolute;
    left: 865px;
    top: 724px;
    flex-direction: column;
    height: 189px;
}

.GameData {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: green;
    left: 0px;
    width: 100%;
    font-size: 32pt;
}

table {
    border: double;
}

td,
tr,
th {
    border: solid 1px;
}

#nabi1,#nabi2,#nabi3 {
    height: 33%;
}
.nabi {
    filter: brightness(30%);
}

.nabi.on {
    filter: brightness(200%);
}

.stopLight {
    position: absolute;
    top: 159px;
    left: 238px;
    width: 594px;
    height: 336px;
    display: flex;
}

.stopLight .nabi {
    height:100%;
    background-color: black;
    display:inline-block;
    flex: 1 1 auto;
    opacity: 0.99;
    transition:opacity 0.01s;
}

.stopLight .nabi.on {
    opacity: 0;
}

#dataCounter {
    min-height: 146px;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
}

#dataCounter .tower {
    margin-top: 8px;
    width: 32px;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 2px;
}

#dataCounter .floor.red {
    background: darkred;
}

#dataCounter .floor.green {
    background: darkgreen;
}

#dataCounter .tower .floor {
    width: 100%;
    height: 8px;
    margin-bottom: 3px;
}

#dataCounter .tower .type {
    text-align: center;
    font-size: 11pt;
    border-top: solid 1px;
}

#dataCounter .tower .count {
    text-align: center;
    font-size: 11pt;
}

#panel {    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 1100px;
}